
.about_intro {
    height: 500px;
  }
  .images {
    height: 500px;
  }
  .images img {
    width: 100%;
  }
  
  .carousel-caption h4 {
    color: white;
    font-size: 70px;
  }
  .carousel-caption p {
    color: white;
    font-size: 20px;
  }
  
  .about_intro h5 {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
  }
  
  .igspeech {
    width: 80%;
    margin: auto;
  }
  .igspeech h5 {
    text-align: center;
    font-size: 30px;
    margin: 30px;
    font-weight: bold;
  }
  .video {
    width: 100%;
    height: 400px;
    margin: 20px 0px;
    border-radius: 10px;
  }
  .securitytips {
    width: 100%;
    margin: 50px 0px;
    height: 300px;
    box-shadow: 3px 3px 3px 5px grey;
    border-radius: 10px;
    color: white;
  }
  .security_tips h5 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
  }
  
  .security_tips h4 {
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
  }
  
  .securitytips ul {
    margin: 0px 15px;
    padding: 0px 14px;
  }
  .securitytips li {
    padding: 10px 0px;
  }
  .tips {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .tips > div {
    width: 100%;
    margin: 0px 10px;
  }
  .img {
    display: flex;
    align-items: center;
  }
  .img img {
    width: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    .carousel-caption h4 {
      color: rgba(red, green, blue, alpha);
      font-size: 30px;
    }
    .carousel-caption p {
      color: white;
      font-size: 13px;
      font-weight: bold;
    }
    .igspeech {
    width: 100%;
  
  }
  
    .tips {
      flex-direction: column;
    }
    .securitytips {
      height: auto;
    }
    .images { 
      height: 200px;
    }
    .about_intro {
      height: auto;
    }
  }