.home {
    margin: 0px;
    padding: 0px;
    background: url(/src/assets/newpolice.webp) fixed;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.video{

    padding: 100px 0px;
    width: 50%;
}
.video h5 {
    margin-top: 70px;
    font-size: 50px;
    text-align: left;
}

.small {
    font-size: 30px;
}

.inpsector {
    height: auto;
    overflow: hidden;
    margin-top: 50px;

}

.inpsector h5 {
    display: block;
    width: 30%;
    font-size: 30px;
    margin: 10px auto;
    text-align: center;
    border-top: 3px solid grey;
    padding: 10px;
    border-bottom: 3px solid grey;
}

.igp_speech {
    display: flex;
    margin: 10px 0px;
}

.igp_speech>div {
    margin: 10px;
}

.igp_speech p {
    padding: 10px 0px;
}

.module {
    display: flex;
    width: 80%;
    margin: auto;
}

.module>div {
    margin: 20px;
    width: 100%;
    border-radius: 4px;
    height: 300px;
    box-shadow: 3px 3px 3px 5px grey;
    text-align: center;
}

.module>div:hover {
    margin: 20px;
    width: 100%;
    border-radius: 4px;
    height: 300px;
    box-shadow: 3px 3px 3px 5px black;
    text-align: center;
    transform: rotate(-2deg);
}

.module img {
    width: 100%;
}

.module a {
    font-size: 40px;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .home {
        margin: 0px;
        padding: 0px;
        background: url(/src/assets/newpolice.webp) fixed;
        height: 400px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .video{

        padding: 10px 10px;
        width: 100%;
    }

    .video h5 {
        margin-top: 0px;
        font-size: 10px;
        text-align: left;
        color: red;
    }
    
    .home h5 {
        margin: 0px;
        font-size: 30px;
        padding: 0px 00px;
        color: black;
    }

    .inpsector h5 {
        display: block;
        width: 100%;
        font-size: 15px;
        margin: 5px auto;
        text-align: center;
        border-top: 3px solid grey;
        padding: 10px;
        border-bottom: 3px solid grey;
    }

    .div img {
        display: none;
    }

    .igp_speech {
        display: flex;
        margin: 10px 10px;
        flex-direction: column;
    }

    .igpimage img {
        width: 70%;
    }

    .module {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 20px auto;
    }

    .module>div {
        margin: 20px 0px;
        width: 100%;
    }
}