.action {
    width: 60%;
    margin: 20px auto;
    display: flex;
}

.action button {
    margin: 10px 10px;
    padding: 15px 10px;
/*     background: red; */
    border-radius: 5px;
    outline: none;
    border: none;
}

.input input {
    padding: 15px 0px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 0px 7px;
    background: grey;
    width: 80%;
    color: white;
  
   
}
.input{
    background: grey;
    width: 50%;
    margin: auto;
    padding: 0px 10px;
    border-radius: 5px;
}

.col-table {
    width: 100%;
    margin: 30px 0px 0px 0px;
    height: 600px;
    overflow: auto;
}

table {
    margin: 20px 0px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

table th,
td {
    padding: 10px 20px;
    text-align: left;
}

table tbody {
    width: 100%;
}
table button{
    padding: 10px;
    border-radius: 3px;
    background: darkblue;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
    height: auto;
  
  }
  
  /* The Close Button */
  .close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .details {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 20px;
  
      color: black;
  }
  .details > div{
    width: 150px;
  }
  
@media only screen and (max-width: 600px) {
    .action {
        width: 100%;
        margin: 20px auto;
        flex-direction: column;

    }
    
    .action button {
        margin:10px 0px;
        padding: 15px 5px;
    /*     background: red; */
        border-radius: 0px;
        outline: none;
        border: none;
        width: 100%;
    }
    
    .input input {
        padding: 15px 0px;
        border-radius: 5px;
        outline: none;
        border: none;
        margin: 0px 7px;
        background: grey;
        width: 80%;
        color: white;
      
       
    }
    .input{
        background: grey;
        width: 100%;
        margin: auto;
        padding: 0px 10px;
    }

    
} 